html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh; /* Add this line */
  overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px;
  width: 100%;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #f2f2f2;
  margin-right: 20px;
}

.navlinks {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 10px;
}

.content-container {
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.portfolio-text0 {
  font-weight: bold;
  color: black;
  font-size: 6.5em;
}

.content-container img {
  width: 50%;
  height: 89.2vh;
  object-fit: cover;
  order: 1;
}

.portfolio-text0 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-text0 {
  display: block;
}

.portfolio-text1 {
  display: none;
}

.portfolio-text1 {
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.portfolio-text1 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-text2 {
  display: none;
}

.portfolio-text2 {
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.portfolio-text2 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-text3 {
  display: none;
}

.portfolio-text3 {
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.portfolio-text3 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-text4 {
  display: none;
}

.portfolio-text4 {
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.portfolio-text4 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-text5 {
  display: none;
}

.portfolio-text5 {
  font-weight: bold;
  color: black;
  font-size: 3em;
}

.portfolio-text5 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
  height: 89vh;
}




